{% extends 'layout.html' %}
  
{% block main %}
  <button type="button" onclick="window.history.back()">Go back</button>

  <div id="profil-info">
    <div>
      {% load static %}
      <img src="{% static 'img/logo_user.png' %}" alt="user profil logo"/>
    </div>
    <h3>
      {{ competitor.full_name }}
    </h3>
  </div>

    <div id="summary">
      <h4>
        Overview
      </h4>
      <div id="nb-tournaments-participated" class="tile">
        <p>{{tournaments|length}}</p>
        <p>Number tournaments</p>
      </div>
      <div id="nb-tournaments-won" class="tile">
        <p>{{tournaments|length}}</p>
        <p>Number tournaments won</p>
      </div>
    </div>

    <div id="tournament-infos">
      <h4>
        Participated in tournaments
      </h4>
      {% if tournaments %}
      <table id="list-tournaments-participated">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tournament</th> 
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for participation in tournaments %}
          <tr id="tournaments-{{x.id}}" data-index="{{ x.id }}">
            <td>{{participation.tournament.id}}</td>
            <td>{{participation.tournament.name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <span>No participations in any tournaments yet.</span>
      {% endif %}
    </div>
  <style>
    img{
      max-height: 120px;
    }
    div#summary{
      display: flex;
      gap:1rem;
      justify-content: center;
    }
    div.tile{
      padding: 1rem;
    }
  </style>
{% endblock %}
